@font-face {
    font-family: "Nexa";
    src: url('../src/assets/font/Nexa-Heavy.ttf'); 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nexa";
    user-select: none;
  }
